<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/login_Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,582},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>login/login_alertBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,66},{414,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,286}}</string>
                <key>sourceSize</key>
                <string>{414,286}</string>
            </dict>
            <key>login/login_backBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,305},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>login/login_backLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,452},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>login/login_backRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,399},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>login/login_beginEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,74},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>login/login_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,629},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>login/login_creatNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{359,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,62}}</string>
                <key>sourceSize</key>
                <string>{359,62}</string>
            </dict>
            <key>login/login_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,399},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_enter_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,399},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_enter_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,521},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_healthTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,74},{554,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,23}}</string>
                <key>sourceSize</key>
                <string>{554,23}</string>
            </dict>
            <key>login/login_noticesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>login/login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,505},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_roleDelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,536},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login/login_roleDelete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,620},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>login/login_selRoleNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{432,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,64}}</string>
                <key>sourceSize</key>
                <string>{432,64}</string>
            </dict>
            <key>login/login_serverBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{411,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,45}}</string>
                <key>sourceSize</key>
                <string>{411,45}</string>
            </dict>
            <key>login/login_statusGrag.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,989},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>login/login_statusGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,989},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>login/login_statusRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>login/login_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,460},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4dbc4728ee9878b9af1b61e291b0e8:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
