<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene/mm_foe_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,328},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>scene/mm_monster_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,207},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>scene/mm_npc_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,207},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>scene/mm_other_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,207},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>scene/mm_path_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,60},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>scene/mm_self_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,134},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>scene/npc_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,216},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>scene/npc_queststatus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,168},{22,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/npc_queststatus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/npc_queststatus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,120},{22,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/npc_queststatus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,99},{22,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/npc_queststatus_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,548},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/npc_queststatus_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,512},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/scene_addGroupBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,495},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>scene/scene_arrowYBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,292},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>scene/scene_atkTagHeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{218,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,64}</string>
            </dict>
            <key>scene/scene_atkTagHpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,306},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>scene/scene_autoSkillBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,282},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>scene/scene_blueMpPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{43,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,80}}</string>
                <key>sourceSize</key>
                <string>{43,80}</string>
            </dict>
            <key>scene/scene_btnListArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,186},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>scene/scene_btnListBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,446},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scene/scene_canelAutoSkillBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>scene/scene_changtarBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,475},{60,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scene/scene_chatBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,281},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>scene/scene_chatBtnSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,495},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>scene/scene_defSkillBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,282},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>scene/scene_drinkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,412},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>scene/scene_expBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,288},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>scene/scene_expPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,67},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>scene/scene_homeStoneBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,390},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>scene/scene_mapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,134},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>scene/scene_mbloodBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,239},{47,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,8}}</string>
                <key>sourceSize</key>
                <string>{47,8}</string>
            </dict>
            <key>scene/scene_mbloodHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,189},{45,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,6}}</string>
                <key>sourceSize</key>
                <string>{45,6}</string>
            </dict>
            <key>scene/scene_mbloodMp.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,142},{45,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,6}}</string>
                <key>sourceSize</key>
                <string>{45,6}</string>
            </dict>
            <key>scene/scene_npcStatusTan.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,51},{22,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/scene_npcStatusWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,202},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>scene/scene_petStateA.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,193},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>scene/scene_petStateR.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,147},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>scene/scene_popTipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,28}}</string>
                <key>sourceSize</key>
                <string>{344,28}</string>
            </dict>
            <key>scene/scene_prgRedBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,51},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>scene/scene_prgRedBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,239},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>scene/scene_prgRedBarEff.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>scene/scene_qixuekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{194,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,104}}</string>
                <key>sourceSize</key>
                <string>{194,104}</string>
            </dict>
            <key>scene/scene_redHpPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,325},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>scene/scene_returnBackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,429},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scene/scene_roleHeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{246,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,86}}</string>
                <key>sourceSize</key>
                <string>{246,86}</string>
            </dict>
            <key>scene/scene_settingBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,202},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>scene/scene_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,191},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{87,47}</string>
            </dict>
            <key>scene/scene_shadowSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,142},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{87,47}</string>
            </dict>
            <key>scene/scene_skillBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,444},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>scene/scene_skillCDRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/scene_skillCDRoundBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,372},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>scene/scene_skillCDfinish.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,240},{83,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{83,86}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>scene/scene_skillIndexBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,25},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>scene/scene_skillLockPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,369},{75,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>scene/scene_skillSelRoundBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,371},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{71,72}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>scene/scene_skillarrowPic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,444},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>scene/scene_skillarrowPic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,390},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>scene/scene_tabBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,104},{91,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,36}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>scene/scene_tabBtnSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,66},{91,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,36}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>scene/scene_taskBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,371},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>scene/scene_taskLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,25},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,2}}</string>
                <key>sourceSize</key>
                <string>{6,2}</string>
            </dict>
            <key>scene/scene_taskMinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,331},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>scene/scene_topMinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,429},{19,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,55}}</string>
                <key>sourceSize</key>
                <string>{19,55}</string>
            </dict>
            <key>scene/scene_unionBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,340},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>scene/scene_useSkillBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>scene/scene_vipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,32},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>scene/scene_ygBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>scene/scene_ygPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,292},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26c79a0bcd07dce7971a2925551026c9:1/1$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
